@font-face {
    font-family: master;
    src: url(./PlusJakartaSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* #page1 {
    background-color: #F7F7F7;
} */

.ri-arrow-up-line{
    position: fixed;
    color: black;
    font-weight: 600;
    font-size: 20px;
    background-color: #DEDEDE;
    padding: 15px;
    border-radius: 50%;
    bottom: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.489);
    right: 20px;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: master;
    padding: 5px 70px;
    word-spacing: 3px;
}

#nav-logo img {
    height: 30px;
}

#nav-a a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
}

#nav-a :nth-child(2) {
    background-color: #ffd124;
    padding: 10px 20px;
    border-radius: 10px;
}

#pop-m{
    display: flex;
    justify-content: center;
    width: 100%;
}

#pop{
    background-color: #FCEEEE;
    display: inline-block;
    font-family: master;
    color: #E15656;
    padding: 8px 15px;
    padding-top: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#hero {
    font-family: master;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 20px;
    padding: 0px 48px;
}

#hero-l h1 {
    width: 50%;
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 1;
}

#hero-l p {
    width: 80%;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-weight: bold;
}

#hero-l span {
    font-weight: normal;
}


#build {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #DEDEDE;
    width: 70%;
    padding: 8px 5px;
    border-radius: 10px;
}

#bl h5 {
    opacity: 0.8;
    font-weight: bold;
    letter-spacing: 1px;
}

#br img {
    height: 30px;
    margin-right: 10px;
    mix-blend-mode: multiply;
    filter: contrast(1.5);
}

#hero-r img {
    height: 450px;
    mix-blend-mode: multiply;
    filter: contrast(1.1);
}

#float-main {
    background-color: #FFFFFF;
    width: 88%;
    margin-left: 6%;
    padding: 30px 30px;
    font-family: master;
    border-radius: 20px;
    position: relative;
    z-index: 1000;
    top: -10px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.45);
}

#float1 {
    display: flex;
    gap: 30px;
}

#float1 h4{
    opacity: 0.7;
}

#float1 h5{
    margin-left: 400px;
    opacity: 0.5;
}

#float2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

#name input,
#number input,
#email input{
    font-family: master;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 150px;
    border-radius: 5px;
    border: 0.5px solid gray ;
}

#number{
    display: flex;
    align-items: center;
    /* gap: 5px; */
}

#number input{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px solid transparent;
}

#number h4{
    border: 1px solid gray;
    padding: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#brochure {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    margin-right: 12px;
    border-radius: 10px;
}

#brochure h4{
    padding-left: 10px;
}

#mainm-p2{
    height: 48rem;
}

#main-p2{
    background-color: #f5e08e;
    height: 46.5rem;
    border-radius: 10px;
    margin: 10px;
    margin-top: -80px;
    font-family: master;
}

#p2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 50px;
    gap: 100px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 40px;
    padding-bottom: 0;
}

#p2l h1{
    width: 70%;
    font-size: 45px;
}

#p2r{
    background-color: #FFFFFF;
    padding: 20px 25px;
    border-radius: 10px;
}

#p2r a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    word-spacing: 2px;
}

.card{
    background-color: #FFFFFF;
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding: 25px 35px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 15px;
    width: 20rem;
    margin-bottom: 11px;
    
}

.card img{
    height: 60px;
    margin-bottom: 15px;
    mix-blend-mode: multiply;
    filter: contrast(1.1);
}

.card h3{
    width: 60%;
    margin: 0 auto;
}

.card:nth-child(1){
margin-left: 90px;
}
.card:nth-child(2){
    padding: 25px 60px;
}
.card:nth-child(3){
    padding: -25px;
}
.card:nth-child(4){
    padding: 25px 50px;
}


.card1{
    background-color: #FFFFFF;
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding: 25px 35px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 15px;
    width: 20rem;
    margin-bottom: 20px;
    
}

.card1 img{
    height: 60px;
    margin-bottom: 15px;
    mix-blend-mode: multiply;
    filter: contrast(1.1);
}

.card1 h3{
    width: 60%;
    margin: 0 auto;
}

.card1:nth-child(1){
margin-left: 90px;
padding: 25px 100px;
}
.card1:nth-child(2){
    padding: 25px 40px;
}
.card1:nth-child(3){
    padding: 25px 115px;
}
.card1:nth-child(4){
    padding: 25px 35px;
}